<!DOCTYPE html>
<html>
<head>
    <title>Add Book</title>
</head>
<body>
    <h1>Add Book</h1>
    <form action="/books" method="POST">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author"><br>
        <label for="publication_year">Publication Year:</label><br>
        <input type="text" id="publication_year" name="publication_year"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>